.object {
  h6 {
    padding: 10px 15px;
    background: #2980b9;
    color: #ffffff;
    margin-bottom: 15px;
  }

  span {
    padding: 4px 10px;
    margin: 3px;
    color: #ffffff;
    display: inline-block;
    border:1px solid #16a085;
    cursor: pointer;
    user-select: none;
    background: #16a085;
    &.disabled{
      text-decoration: line-through;
      background: darkgray;
      border: 1px solid darkgray;
      opacity: .7;
      &:hover{
        background: darkgray;
        opacity: 1;
      }
    }
    &:hover{
      background: #27ae60;
    }
    &.object__create{
      overflow: auto;
      border: 1px solid;
      color: #16a085;
      background: #ffffff;
    }
  }
}
.object__create{
  cursor: pointer;
  border: 1px solid;
  color: #16a085;
  background: #ffffff;
  padding: 4px;
}